POSTGRES_IMAGE=postgres:16-alpine
MAILPIT_IMAGE=axllent/mailpit:v1.20

POSTGRES_DB=edge_worldcup
POSTGRES_USER=edge_user
POSTGRES_PASSWORD=edge_password
POSTGRES_PORT=5432

API_PORT=4000
WEB_PORT=3000
MAILPIT_UI_PORT=8025

DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_NAME=edge_worldcup
DATABASE_USER=edge_user
DATABASE_PASSWORD=edge_password

OTP_TTL_MINUTES=10
FRONTEND_ORIGIN=http://localhost:3000

SMTP_HOST=mailpit
SMTP_PORT=1025
SMTP_FROM=no-reply@edgeworldcup.local

BACKOFFICE_ADMIN_USER=admin
BACKOFFICE_ADMIN_PASSWORD=admin1234
BACKOFFICE_ADMIN_TOKEN=edge-backoffice-dev-token
WORLDCUP_IMPORT_URL=

NEXT_PUBLIC_API_URL=http://localhost:4000
WATCHPACK_POLLING=true
